* {
    padding: 0;
    margin: 0;
}

.bg-awal {
    position: relative;
    background: #000 url('bg.png') center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.beranda img {
    padding-top: 40px;
    width: 300px;
    float: right;
    margin-right: 190px;
    margin-left: 90px;
    margin-bottom: 100px;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.logo {
    font-size: 30px;
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 20px;
}

.nav-link {
    align-items: flex-start;
    list-style: none;
    font-family: Love Ya Like A Sister;
}

.nav-link li {
    margin-left: -300px;
    padding: 0px 0px;
    font-size: 25px;
}

.cta a {
    padding: 9px 25px;
    font-family: Love Ya Like A Sister;
    font-weight: 500;
    font-size: 25px;
    color: black;
    text-decoration: none;
}

.cta a:hover {
    color: #E9E19D;
    transition: 0,2s 0s;
}

div .p1 {
    font-family: Love Ya Like A Sister;
    font-size: 30px;
    margin-left: 340px;

}

div .p2 {
    font-family: Love Ya Like A Sister;
    font-size: 50px;
    margin-left: 210px;
    color: #E9E19D;

}

div .p3 {
    font-family: Love Ya Like A Sister;
    font-size: 30px;
    margin-left: 260px;
}

div .cv button {
    background-color: #E9E19D;
    font-family: Love Ya Like A Sister;
    font-size: 22px;
    margin-left: 170px;
    border-radius: 20px;
    border-style: none;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}